In [1]:
import pandas as pd #allows us to work with structured data a lot better and easily

In [2]:
matches = pd.read_csv("matches.csv", index_col=0)

In [3]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,Match Report,NaN,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,Match Report,NaN,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,Match Report,NaN,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,Match Report,NaN,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,Match Report,NaN,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City

In [4]:
matches.shape

(1389, 27)

In [5]:
matches["team"].value_counts()

West Ham United             72
Southampton                 72
Manchester United           72
Newcastle United            72
Brighton and Hove Albion    72
Burnley                     71
Wolverhampton Wanderers     71
Crystal Palace              71
Manchester City             71
Leeds United                71
Arsenal                     71
Tottenham Hotspur           71
Leicester City              70
Chelsea                     70
Aston Villa                 70
Everton                     70
Liverpool                   38
West Bromwich Albion        38
Fulham                      38
Sheffield United            38
Brentford                   34
Norwich City                33
Watford                     33
Name: team, dtype: int64

In [6]:
matches["round"].value_counts()

Matchweek 3     39
Matchweek 1     39
Matchweek 12    39
Matchweek 19    39
Matchweek 15    39
Matchweek 8     39
Matchweek 11    39
Matchweek 32    39
Matchweek 9     39
Matchweek 20    39
Matchweek 10    39
Matchweek 28    39
Matchweek 24    39
Matchweek 14    39
Matchweek 2     39
Matchweek 4     39
Matchweek 16    39
Matchweek 6     39
Matchweek 34    39
Matchweek 17    39
Matchweek 31    39
Matchweek 7     39
Matchweek 5     39
Matchweek 29    39
Matchweek 23    39
Matchweek 26    39
Matchweek 25    39
Matchweek 13    39
Matchweek 21    37
Matchweek 22    37
Matchweek 30    37
Matchweek 18    37
Matchweek 27    37
Matchweek 33    32
Matchweek 36    20
Matchweek 37    20
Matchweek 38    20
Matchweek 35    20
Name: round, dtype: int64

In [7]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [8]:
matches["date"] = pd.to_datetime(matches["date"])

In [9]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

In [10]:
### In this area below all we are doing is turning our data which is strings/objects to something the machine learning model can understand which is numbers

In [11]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes #converting from string into category then from category to numbers

In [12]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes #converting from string into category then from category to numbers

In [13]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes #assigns each team a number

In [14]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int") #":.+" this says remove the ":" and everything after it, and this part says "" replace it with nothing, and regex="True" says interpert ":.+" as regular expression

In [15]:
matches["day_code"] = matches["date"].dt.dayofweek #this reads the date (NOTE THE DAY) then finds out what day that date corresponds to

In [16]:
matches["target"] = (matches["result"] == "W").astype("int") #makes wins = 1 and losses

In [17]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
1,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,...,1.0,0.0,0.0,2022,Manchester City,0,18,16,6,0
2,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,...,1.0,0.0,0.0,2022,Manchester City,1,15,15,5,1
3,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,...,0.0,0.0,0.0,2022,Manchester City,1,0,12,5,1
4,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,...,0.0,0.0,0.0,2022,Manchester City,0,10,15,5,1
6,2021-09-18,15:00,Premier League,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,...,1.0,0.0,0.0,2022,Manchester City,1,17,15,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Premier League,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,...,0.0,0.0,0.0,2021,Sheffield United,0,18,19,6,0
39,2021-05-08,15:00,Premier League,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,...,1.0,0.0,0.0,2021,Sheffield United,1,6,15,5,0
40,2021-05-16,19:00,Premier League,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,...,0.0,0.0,0.0,2021,Sheffield United,0,7,19,6,1
41,2021-05-19,18:00,Premier League,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,...,1.0,0.0,0.0,2021,Sheffield United,0,14,18,2,0
42,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,...,0.0,0.0,0.0,2021,Sheffield United,1,4,16,6,1

from sklearn.ensemble import RandomForestClassifier #randomForest is a type of machine learning model that can pick up non linearities in the data, for ex our oppenent code doesn't necessarily have a linear relationship meaning that an opp code of 18 doesn't necessarily mean a harder opponent (and then higher chance for the team to lose)

In [51]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
print("It worked!")

It worked!

In [52]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1) #the higher the n-estimators the longer the model will take but it potentially be more accurate. #n_estimators is the number of individual decision trees we wanna train. Random forest is a series of decision trees that each decision trees has slightly different parameters.
#min_samples_split is the number of samples we want to have in a leaf of the decision tree before we split the node, the higher the value the less likely you are to overfit but the lower the accuracy may be #random_state is like the seed or type of order you need from the model to get the same result, so if I set my random_state to 1 then I will always get the same results but if I choose 2 I will get different results but if I choose 2 again I will get the same results for the random_state 2
#parameters are like the questions the models asks the data to get a yes or no

In [53]:
train = matches[matches["date"] < '2022-01-01'] #so we are making our training data and we NEED TO MAKE SURE THE TRAINING DATA IS FROM BEFORE THE TEST DATA. We always want to predict the future from the past not the opposite

In [54]:
test = matches[matches["date"] > '2022-01-01']

In [55]:
#we split our train and test set because if we dont and just train our model on the same dataset we will test it on then our model will seem to be very accurate, even though the model isnt that accurate with new data. This is like teacher giving you the same exact test as the practice test you did at home the day before

In [56]:
predictors = ["venue_code", "opp_code", "hour", "day_code"] #list of predictor columns we created earlier

In [57]:
rf.fit(train[predictors], train["target"]) #this line trains a random forest model using the predictors to try to predict the target

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [58]:
preds = rf.predict(test[predictors]) #this generates predictions using the predict method where we pass on our test data

In [59]:
from sklearn.metrics import accuracy_score #this is for how we will actually measure the accuracy of the predicitons by checking the predicted target versus the actual result, it does by checking if you predicted win what percentage of time did the team actually win and if you predictyed loss what percentage of the time did the team actually lose then combines those results to give you what percentage of the time was your model correct

In [60]:
acc = accuracy_score(test["target"], preds) #so here we are taking our the actual results of who won and lost and comparing them with our predictions to get the acc score

In [61]:
acc #after this we wanna check and dig deeper on to why we got these results in which situatiosn were our accuracy good vs bad

0.6123188405797102

In [62]:
combined = pd.DataFrame(dict(actual=test["target"], prediction=preds)) #Now we are creating a dataFrane that combines our predicted and actual values

In [63]:
combined

    actual  prediction
31       1           0
32       0           0
34       1           0
35       1           1
37       0           1
..     ...         ...
33       0           0
34       0           0
35       1           0
36       0           0
37       0           1

[276 rows x 2 columns]

In [64]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"]) # we are creating a crosstab which is a 2 way table that will show us when we predicted a 0 or a 1, what actually happened. #in the table we can see when predict loss or draw (0) we are usually doing pretty well as 141 times we are correct and 76 times we are wrong,
#but when we predicted win we were actually more times wrong than right meaning our predictions everytime we predict win are pretty bad. #This tells us we need to revise our accuracy metric a little bit, instead of using the accuracy score we will use a precision score instead which just gives us the percent of when we predicted a win what percent of time did the team actually win

prediction    0   1
actual
0           141  31
1            76  28

In [65]:
from sklearn.metrics import precision_score

In [66]:
precision_score(test["target"], preds) #here we see that win we predicted a win the team only won 47% of the time which is pretty bad

0.4745762711864407

In [67]:
#Now what we want is to have rolling averages were we group each team so we can see how well they did the last few matches, how many goals, how many goals they conceded...

In [68]:
grouped_matches = matches.groupby("team") #creating a dataframe which groups matches by team, so this will create one dataframe for every team

In [69]:
group = grouped_matches.get_group("Manchester City") #this gives us all the matches manchester city played in

In [70]:
# what we want to do is if we are for ex in match week 10 then how did manchester city do in their last 3 games (matchweek 7,8,9) and then we can pass that into algorithm so algorithm can make better predictions

In [71]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date") #sorting by ascending order by date
    rolling_stats = group[cols].rolling(3, closed="left").mean() #take a set of columns cols and compute the average for them, closed = "left" ensures when we for example calculated the averages for matchweek 7,8,9 we then use those averages values for predicting week 10 not week 9, if we use it to predict week 9 instead of 10 then we are using information from the future which is cheating and will make our model look better than it actualy is
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols) #this is saying if their are missing values then remove all those rows with missing values, this happens for example when we are trying to predict matchweek 2 so there is only 1 matchweek before we can use and not 3
    return group

In [72]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"] #these are the columns we wanna calculate rolling averages for
new_cols = [f"{c}_rolling" for c in cols] #here just defining new columns to put our rolling averages values in

In [73]:
new_cols #new_cols are the columns with new averages in them

['gf_rolling',
 'ga_rolling',
 'sh_rolling',
 'sot_rolling',
 'dist_rolling',
 'fk_rolling',
 'pk_rolling',
 'pkatt_rolling']

In [74]:
rolling_averages(group, cols, new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
5,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Home,W,1.0,0.0,Arsenal,...,5,1,2.000000,2.333333,17.333333,4.666667,18.900000,1.333333,0.333333,0.333333
7,2020-10-24,12:30,Premier League,Matchweek 6,Sat,Away,D,1.0,1.0,West Ham,...,5,0,1.333333,2.000000,17.333333,3.666667,17.733333,0.666667,0.000000,0.000000
9,2020-10-31,12:30,Premier League,Matchweek 7,Sat,Away,W,1.0,0.0,Sheffield Utd,...,5,1,1.000000,0.666667,16.666667,4.333333,18.233333,0.666667,0.000000,0.000000
11,2020-11-08,16:30,Premier League,Matchweek 8,Sun,Home,D,1.0,1.0,Liverpool,...,6,0,1.000000,0.333333,14.333333,6.666667,18.466667,1.000000,0.000000,0.000000
12,2020-11-21,17:30,Premier League,Matchweek 9,Sat,Away,L,0.0,2.0,Tottenham,...,5,0,1.000000,0.666667,12.000000,5.666667,19.366667,1.000000,0.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2022-03-14,20:00,Premier League,Matchweek 29,Mon,Away,D,0.0,0.0,Crystal Palace,...,0,0,2.333333,1.333333,19.000000,7.000000,15.366667,0.333333,0.333333,0.333333
44,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Away,W,2.0,0.0,Burnley,...,5,1,1.666667,0.333333,18.333333,7.333333,16.000000,0.333333,0.000000,0.000000
46,2022-04-10,16:30,Premier League,Matchweek 32,Sun,Home,D,2.0,2.0,Liverpool,...,6,0,2.000000,0.333333,20.000000,6.666667,16.133333,0.333333,0.000000,0.000000
49,2022-04-20,20:00,Premier League,Matchweek 30,Wed,Home,W,3.0,0.0,Brighton,...,2,1,1.333333,0.666667,15.666667,4.666667,16.700000,0.333333,0.000000,0.000000
50,2022-04-23,15:00,Premier League,Matchweek 34,Sat,Home,W,5.0,1.0,Watford,...,5,1,2.333333,0.666667,15.333333,5.000000,17.200000,0.333333,0.000000,0.000000

In [75]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols)) #what apply does is apply the rolling_averages function we created to each team

In [76]:
matches_rolling

                                 date   time            comp         round  \
team
Arsenal                 6  2020-10-04  14:00  Premier League   Matchweek 4
                        7  2020-10-17  17:30  Premier League   Matchweek 5
                        9  2020-10-25  19:15  Premier League   Matchweek 6
                        11 2020-11-01  16:30  Premier League   Matchweek 7
                        13 2020-11-08  19:15  Premier League   Matchweek 8
...                               ...    ...             ...           ...
Wolverhampton Wanderers 32 2022-03-13  14:00  Premier League  Matchweek 29
                        33 2022-03-18  20:00  Premier League  Matchweek 30
                        34 2022-04-02  15:00  Premier League  Matchweek 31
                        35 2022-04-08  20:00  Premier League  Matchweek 32
                        36 2022-04-24  14:00  Premier League  Matchweek 34

                            day venue result   gf   ga         opponent  ...  \
team                                                                     ...
Arsenal                 6   Sun  Home      W  2.0  1.0    Sheffield Utd  ...
                        7   Sat  Away      L  0.0  1.0  Manchester City  ...
                        9   Sun  Home      L  0.0  1.0   Leicester City  ...
                        11  Sun  Away      W  1.0  0.0   Manchester Utd  ...
                        13  Sun  Home      L  0.0  3.0      Aston Villa  ...
...                         ...   ...    ...  ...  ...              ...  ...
Wolverhampton Wanderers 32  Sun  Away      W  1.0  0.0          Everton  ...
                        33  Fri  Home      L  2.0  3.0     Leeds United  ...
                        34  Sat  Home      W  2.0  1.0      Aston Villa  ...
                        35  Fri  Away      L  0.0  1.0    Newcastle Utd  ...
                        36  Sun  Away      L  0.0  1.0          Burnley  ...

                            day_code  target  gf_rolling  ga_rolling  \
team
Arsenal                 6          6       1    2.000000    1.333333
                        7          5       0    1.666667    1.666667
                        9          6       0    1.000000    1.666667
                        11         6       1    0.666667    1.000000
                        13         6       0    0.333333    0.666667
...                              ...     ...         ...         ...
Wolverhampton Wanderers 32         6       1    1.333333    1.000000
                        33         4       0    1.666667    0.666667
                        34         5       1    2.333333    1.000000
                        35         4       0    1.666667    1.333333
                        36         6       0    1.333333    1.666667

                           sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal                 6    7.666667    3.666667    14.733333   0.666667
                        7    5.333333    3.666667    15.766667   0.000000
                        9    7.000000    3.666667    16.733333   0.666667
                        11   9.666667    4.000000    16.033333   1.000000
                        13   9.666667    2.666667    18.033333   1.000000
...                               ...         ...          ...        ...
Wolverhampton Wanderers 32  12.333333    3.666667    19.300000   0.000000
                        33  12.333333    4.333333    19.600000   0.000000
                        34  13.000000    5.333333    19.833333   0.000000
                        35  13.000000    5.000000    18.533333   0.000000
                        36  10.000000    4.666667    17.633333   0.000000

                            pk_rolling  pkatt_rolling
team
Arsenal                 6     0.000000       0.000000
                        7     0.000000       0.000000
                        9     0.000000       0.000000
                        11    0.000000       0.000000
                        13    0.333333       0.333333
...                                ...            ...
Wolverhampton Wanderers 32    0.000000       0.000000
                        33    0.000000       0.000000
                        34    0.000000       0.000000
                        35    0.000000       0.000000
                        36    0.000000       0.000000

[1317 rows x 40 columns]

In [77]:
matches_rolling = matches_rolling.droplevel('team') # just removing that extra index level for each team

In [78]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
6,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,6,1,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
7,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,5,0,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
9,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,...,6,0,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
11,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,...,6,1,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
13,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,...,6,0,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,2022-03-13,14:00,Premier League,Matchweek 29,Sun,Away,W,1.0,0.0,Everton,...,6,1,1.333333,1.000000,12.333333,3.666667,19.300000,0.000000,0.000000,0.000000
33,2022-03-18,20:00,Premier League,Matchweek 30,Fri,Home,L,2.0,3.0,Leeds United,...,4,0,1.666667,0.666667,12.333333,4.333333,19.600000,0.000000,0.000000,0.000000
34,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Home,W,2.0,1.0,Aston Villa,...,5,1,2.333333,1.000000,13.000000,5.333333,19.833333,0.000000,0.000000,0.000000
35,2022-04-08,20:00,Premier League,Matchweek 32,Fri,Away,L,0.0,1.0,Newcastle Utd,...,4,0,1.666667,1.333333,13.000000,5.000000,18.533333,0.000000,0.000000,0.000000
36,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Away,L,0.0,1.0,Burnley,...,6,0,1.333333,1.666667,10.000000,4.666667,17.633333,0.000000,0.000000,0.000000

In [80]:
matches_rolling.index = range(matches_rolling.shape[0]) #what this does just is just assign values from 0 to 1316 as our new unique indicies

In [81]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,6,1,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
1,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,5,0,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
2,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,...,6,0,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
3,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,...,6,1,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
4,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,...,6,0,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,2022-03-13,14:00,Premier League,Matchweek 29,Sun,Away,W,1.0,0.0,Everton,...,6,1,1.333333,1.000000,12.333333,3.666667,19.300000,0.000000,0.000000,0.000000
1313,2022-03-18,20:00,Premier League,Matchweek 30,Fri,Home,L,2.0,3.0,Leeds United,...,4,0,1.666667,0.666667,12.333333,4.333333,19.600000,0.000000,0.000000,0.000000
1314,2022-04-02,15:00,Premier League,Matchweek 31,Sat,Home,W,2.0,1.0,Aston Villa,...,5,1,2.333333,1.000000,13.000000,5.333333,19.833333,0.000000,0.000000,0.000000
1315,2022-04-08,20:00,Premier League,Matchweek 32,Fri,Away,L,0.0,1.0,Newcastle Utd,...,4,0,1.666667,1.333333,13.000000,5.000000,18.533333,0.000000,0.000000,0.000000
1316,2022-04-24,14:00,Premier League,Matchweek 34,Sun,Away,L,0.0,1.0,Burnley,...,6,0,1.333333,1.666667,10.000000,4.666667,17.633333,0.000000,0.000000,0.000000

In [87]:
def make_predictions(data, predictors): #WE ALREADY DID EVERYTHING IN THIS FUNCTION RIGHT NOW WE ARE JUST COMBINING ALL THOSE STUFF INTO THIS ONE NICE FUNCTION
    train = data[data["date"] < '2022-01-01'] #so we are making our training data and we NEED TO MAKE SURE THE TRAINING DATA IS FROM BEFORE THE TEST DATA. We always want to predict the future from the past not the opposite
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"]) #this line trains a random forest model using the predictors to try to predict the target
    preds = rf.predict(test[predictors]) #this generates predictions using the predict method where we pass on our test data
    combined = pd.DataFrame(dict(actual=test["target"], prediction=preds), index=test.index) #Now we are creating a dataFrane that combines our predicted and actual values
    precision = precision_score(test["target"], preds)
    return combined, precision

In [88]:
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [91]:
precision

0.625

In [92]:
combined

      actual  prediction
55         0           0
56         1           0
57         1           0
58         1           1
59         1           1
...      ...         ...
1312       1           0
1313       0           0
1314       1           0
1315       0           0
1316       0           0

[276 rows x 2 columns]

In [93]:
# but combined doesnt tell us which teams played in each match for the models predictions so we then cant see if the model is mispredicting any teams

In [96]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True) #what this does is take the combined table and match the index of it for example index 55 with the index 55 row on the matches-rolling table and then add to that the combined table the matching row from the matches_rolling table but it will only add the stuff we specified, which is "date", "team"...

In [97]:
combined

,actual,prediction,date,team,opponent,result
55,0,0,2022-01-23,Arsenal,Burnley,D
56,1,0,2022-02-10,Arsenal,Wolves,W
57,1,0,2022-02-19,Arsenal,Brentford,W
58,1,1,2022-02-24,Arsenal,Wolves,W
59,1,1,2022-03-06,Arsenal,Watford,W
...,...,...,...,...,...,...
1312,1,0,2022-03-13,Wolverhampton Wanderers,Everton,W
1313,0,0,2022-03-18,Wolverhampton Wanderers,Leeds United,L
1314,1,0,2022-04-02,Wolverhampton Wanderers,Aston Villa,W
1315,0,0,2022-04-08,Wolverhampton Wanderers,Newcastle Utd,L
1316,0,0,2022-04-24,Wolverhampton Wanderers,Burnley,L

In [98]:
#Now we will do combining both the home and away predictions

In [99]:
#IMPORTANT SO RIGHT NOW WITH HOW EVERYTHING IS SETUP IT IS VERY POSSIBLE THAT OUR MODEL PREDICTED THAT ARSENAL VS BRENTFORD FOR EXAMPLE ARSENAL WON, AND THEN FOR THAT SAME MATCH BUT BRENTFORD VS ARSENAL THE MODEL COULD HAVE PREDICTED BURNLEY WOULD'VE WON. The problem is that those are both the exact same games only difference is the team and opponent are switched. SO WE NEED TO PROTECT AND STOP THIS FROM HAPPENING

In [ ]:
#first addressing the problem were in this data we can see the names for team name and opponent name are not exactly the same, so for example here the team name calls the team wolverhampton wanderers but then in the opponents section it calls that same team wolves. #so thats why here we are first normalizing the names
#we use a dictionary to do this and use pandas map function in that dictionary

In [110]:
class MissingDict(dict): #here we are making a class that inherits from the dictionary class # what this class does is if someone calls this dictionary and passes on liverpool then instead of throwing an error since liverpool isnt here, instead it will just pass back liverpool
    __missing__ = lambda self, key: key
    
map_values = {
    "Brighton and Hove Albion": "Brighton", #basically saying if the name is Brighton and Hove Albion then just call it Brighton instead
    "Manchester United": "Manchester Utd",
    "Newcastle United": "Newcastle Utd",
    "Tottenham Hotspur": "Tottenham",
    "West Ham United": "West Ham",
    "Wolverhampton Wanderers": "Wolves"
}
mapping = MissingDict(**map_values) #creating an instance of MissingDict

In [111]:
mapping["Liverpool"]

'Liverpool'

In [112]:
mapping["Wolverhampton Wanderers"]

'Wolves'

In [114]:
combined["new_team"] = combined["team"].map(mapping) #creates a new_team field in the combined table and it does this by taking the name from the team column and running the mapping instance to normalize the name and put it in the new column

In [115]:
combined

,actual,prediction,date,team,opponent,result,new_team
55,0,0,2022-01-23,Arsenal,Burnley,D,Arsenal
56,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal
57,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal
58,1,1,2022-02-24,Arsenal,Wolves,W,Arsenal
59,1,1,2022-03-06,Arsenal,Watford,W,Arsenal
...,...,...,...,...,...,...,...
1312,1,0,2022-03-13,Wolverhampton Wanderers,Everton,W,Wolves
1313,0,0,2022-03-18,Wolverhampton Wanderers,Leeds United,L,Wolves
1314,1,0,2022-04-02,Wolverhampton Wanderers,Aston Villa,W,Wolves
1315,0,0,2022-04-08,Wolverhampton Wanderers,Newcastle Utd,L,Wolves
1316,0,0,2022-04-24,Wolverhampton Wanderers,Burnley,L,Wolves

In [119]:
#What the code right under this is saying: look for the new team field and merge that with the opponent field on the other side, I think we are also adding the date to make sure this merging doesnt happen for another game because remember in premier league each team plays against each other twice

In [120]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"]) #merging the dataframe with itself, because what happens is there is the same match but it appears twice (basically each match appears twice) because for example we have once team is arsenal and opponent is burnley but we also have team burnley and opponent is arsenal. these 2 matches are the same but the model does not know that

In [121]:
merged

,actual_x,prediction_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,prediction_y,team_y,opponent_y,result_y,new_team_y
0,0,0,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,1,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,1,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,1,0,2022-03-13,Wolverhampton Wanderers,Everton,W,Wolves,0,0,Everton,Wolves,L,Everton
258,0,0,2022-03-18,Wolverhampton Wanderers,Leeds United,L,Wolves,1,0,Leeds United,Wolves,W,Leeds United
259,1,0,2022-04-02,Wolverhampton Wanderers,Aston Villa,W,Wolves,0,0,Aston Villa,Wolves,L,Aston Villa
260,0,0,2022-04-08,Wolverhampton Wanderers,Newcastle Utd,L,Wolves,1,0,Newcastle United,Wolves,W,Newcastle Utd
261,0,0,2022-04-24,Wolverhampton Wanderers,Burnley,L,Wolves,1,0,Burnley,Wolves,W,Burnley

In [122]:
#in this table above we cant have two 1 (meaning wins) as both teams cant win at the same time

In [ ]:
#the reason we are looking at the particular case below were model predicts a win for a team and loss for another means the model is confident in its prediction

In [124]:
merged[(merged["prediction_x"]==1) & (merged["prediction_y"]==0)]["actual_x"].value_counts() #this is saying when model predicted team A would win and team B would lose what actually happened

1    27
0    13
Name: actual_x, dtype: int64

In [125]:
#here we see that out of the 40 predictions if a team would win the model was correct 27 times and out of the 40 times the model predicted the team would lose it was correct 13 times. Remember our goal is to make a model that predicts winners not losers so we dont really care about accuracy of team losing

In [126]:
#remember here we are looking at only the predictions of the model when it was most confident (most confident defined as it predicted one team to lose and another to win)

In [127]:
27/40 #gives us an accuracy of 67%

0.675